body{
  background-color: #ffe6eb;
}
img {
  position: absolute;
  top: -20px; 
  left: 50%;
  transform: translateX(-50%);
  height: 300px; 
  opacity: 0.3;
  pointer-events: none;
}
#sp{
  color: #b86b77;
  font-family: 'Georgia', serif;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px;
  margin-top: 20px;
  font-size:5px;
}
#br{
  font-family: Merriweather;
  color:#d1225b;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}
#da{
  font-family: Merriweather;
  color:#d1225b;
  text-align: center;
  margin-top: -40px;
  font-size: 40px;
}
#b{
  font-family: 'Great Vibes', cursive;
  color:#a85c6c;
  text-align: center;
  font-size: 30px;
  margin-top: -32px;
}
.inpu{
  display: flex;
  justify-content:center ;
  gap: 10px;
}
.passbox{
  width: 50px;
height: 50px;
border-radius: 12px;
padding: 0;
font-size: 18px;
border: none;
  box-shadow: 0 4px 10px rgba(219, 39, 119, 0.15);
  outline: none;
}
.lockcard{
  background-color:#fff5f8;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
margin: 40px auto 0 auto;
  margin-top: 80px;
box-shadow: 0 15px 35px rgba(219, 39, 119, 0.25);
  
}
#enter{
  margin-top:-2px;
  font-family: 'Playfair Display', serif;
  color:#3d2b3d;
  text-align:center;
  
}
#hinttext{
  font-family: 'Open Sans', sans-serif;
color: #8a7086;
  text-align: center;
  margin-top:-20px;
}
